<module>
	<rawname>printextensions</rawname>
	<name>Print Extensions</name>
	<version>1.2.0</version>
	<type>tool</type>
	<category>Basic</category>
	<menuitems>
		<printextensions>Print Extensions</printextensions>
	</menuitems>
	<location>release/printextensions-1.2.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-PrintExtensions</info>
	<md5sum></md5sum>
</module>
