<module>
	<rawname>printextensions</rawname>
	<name>Print Extensions</name>
	<version>2.6.0.1</version>
	<type>tool</type>
	<category>System Administration</category>
	<description>Creates a printable list of extension numbers used throughout the system from all modules that provide an internal callable number</description>
	<menuitems>
		<printextensions>Print Extensions</printextensions>
	</menuitems>
	<changelog>
		*2.6.0.1* minor tweaks, localizations
		*2.6.0.0* add rnav checkboxes to collapse/expand extension sections
		*2.5.0.3* fixes to get localization working from other module domains
		*2.5.0.2* formating cleanup, code removed
		*2.5.0.1* right justify Extension heading
		*2.5.0* remove directdid (no longer in 2.5), change to provide full PBX extension layout
		*2.4.0* it translations, bump for 2.4
		*1.3.2* Fixed uninizialized variable errors, bump for rc1
		*1.3.1* Add he_IL translation
	</changelog>
	<location>release/2.6/printextensions-2.6.0.1.tgz</location>
	<md5sum>ea54863f6afd3f10fa15f9791ef94d8b</md5sum>
</module>
