<module>
  <rawname>printextensions</rawname>
  <repo>standard</repo>
  <name>Print Extensions</name>
  <version>16.0.5</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Reports</category>
  <description>Creates a printable list of extension numbers used throughout the system from all modules that provide an internal callable number</description>
  <more-info>https://wiki.freepbx.org/display/FPG/Print+Extensions</more-info>
  <menuitems>
    <printextensions>Print Extensions</printextensions>
  </menuitems>
	<changelog>
		*16.0.5* FREEPBX-23613 fix button group breaks when shrinking window 
		*16.0.4* FREEPBX-23567 and Adding Backup and Restore support 
		*16.0.3* FREEPBX-23566 
		*16.0.2* FREEPBX-23521 
		*16.0.1* 16.0
	</changelog>
  <depends>
		<module>featurecodeadmin</module>
	</depends>
  <location>release/2.11/printextensions-2.11.0.0.tgz</location>
  <md5sum>86a1a93e8a7a13affa3ae858a6c18c29</md5sum>
  <supported>
    <version>16.0</version>
  </supported>
</module>